.App {
  text-align: center;
  align-items: center;
  background: rgba(200, 200, 200, 0.2);
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #63676e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  color: white;
}
.App-header h2 {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
  width: 80%;
  height: 80%;
}
.searchForm {
}
.bookCard {
  border: 1px solid grey;
  background: honseydew;
  padding: 5px;
  width: 90%;
  margin: 10px auto;
  text-align: end;
  display: flex;
  justify-content: space-between;
}
.album {
}
.bookInfo {
}
.myBotton {
  background: white;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 2px 4px;
  margin: 10px;
  font-size: small;
  color: rgb(26, 10, 23);
}
.footer {
  background: rgba(200, 200, 200, 0.2);
}
